include src/DjangoSEOModule/templates/*.html
include src/DjangoSEOModule/static/*.js
include src/DjangoSEOModule/static/*.css
include src/DjangoSEOModule/static/*.css.map
include src/DjangoSEOModule/static/admin/*.css
include src/DjangoSEOModule/static/admin/*.css.map
include src/DjangoSEOModule/static/snippet/*.js
include src/DjangoSEOModule/static/snippet/*.txt
