.sTitle, .sDescription {
  border: solid 1px var(--body-fg);
  width: 100%;
  max-width: 450px;
  padding: .4rem;
  //background: lighten(var(--body-bg), 20);
}

.sTitle {
  height: 1.3rem;
  font-size: 1rem;
  background: greenyellow;
  border: solid 1px green;
  box-shadow: 0 0 5px 4px #dcffaa inset;
  margin-bottom: 0.5rem;
}

.sDescription {
  height: 4rem;
  font-size: 0.9rem;
}
